<div class="modal fade" id="ManyPhoto1Form" tabindex="-1" aria-labelledby="ManyPhoto1FormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="modal" data-bs-target="#ManyPhoto2Form">
        <%= image_tag @image, width:850, height:700%>
      </div>
    </div>
  </div>
</div>
