<div class="modal fade" id="ManyPhoto2Form" tabindex="-1" aria-labelledby="ManyPhoto2FormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <%# <%= image_tag image, width:850, height:700%> %>
    </div>
  </div>
</div>
