<div class="modal fade" id="OnePhotoForm" tabindex="-1" aria-labelledby="OnePhotoFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <%= event_image(@event.avatar, 850, 700)%>
    </div>
  </div>
</div>
