<div id="imageModal" class="modal" onclick="this.style.display='none'">
  <span class="button hover-red xlarge display-topright">&times;</span>
  <div class="modal-content animate-zoom">
    <img id="imgInImageModal" style="width:100%">
  </div>
</div>
