<div class="col-12 col-md-5 col-lg-4">
  <div class="" style="w-100 order-3 d-flex justify-content-end">
    <%= link_to event_path(event) do %>
  <style> img {
   padding:1px;
   border:5px solid #212529;
   background-color:#6c757d;
}
</style>
    <%= event_image(event.avatar, 250, 250, "rounded-circle")%>
    <div class="card-body" align="left">
      <%= event.name%>
    </div>
  <%end%>
</div>
</div>
