<div class="col-12 col-md-5 col-lg-4">
  <div class="card m-3">
    <%= link_to event_path(event) do %>
    <%= image_tag(event.avatar) %>
    <div class="card-body">
      <%= event.name%>
    </div>
  <%end%>
</div>
</div>
